
aside{
	z-index: 3;
}
aside div.categories{
	display: none;
}
aside{
	float: none;
	width: 100%;
}
.show-playlist aside{
	right: 110%;
}
section.playlist{
	z-index: 2;
	top: 0;
	width: 100%;
	left: 100%;
	-webkit-transition: 0.5s linear all;
}
.show-playlist section.playlist{
	left: 0%;	
}
footer{
	clear: both;
}
footer .buttons span{
	width: 2em;
	height: 2em;
	line-height: 2em;
	font-size: 1em;
}