

	#player {
			width: 451px;
			height: 101px;
			background-image: url('assets/mediaplayer/player.png');

			user-select: none;
			-moz-user-select: none;
			-webkit-user-select: none;
		}
		#blocker {
			background-color: #f00;
			opacity: 0;
			width: 451px;
			height: 101px;
			cursor: pointer;
		}
		#player DIV {
			position: absolute;
		}
		.button {
			width: 32px;
			height: 32px;
			top: 31px;
		}
		#playBtn {
			left: 324px;
		}
		.playBtn {
			background-image: url('../assets/mediaplayer/buttonPlay.png');
		}
		.playBtn:hover {
			background-image: url('../assets/mediaplayer/buttonPlayHover.png');
		}
		#nextBtn {
			left: 324px;
		}
		.nextBtn {
			background-image: url('../assets/mediaplayer/buttonNext.png');
		}
		.nextBtn:hover {
			background-image: url('../assets/mediaplayer/buttonNextHover.png');
		}
		.lastBtn {
			background-image: url('../assets/mediaplayer/buttonLast.png');
		}
		.lastBtn:hover {
			background-image: url('../assets/mediaplayer/buttonLastHover.png');
		}
		.pauseBtn {
			background-image: url('../assets/mediaplayer/buttonPause.png');
		}
		.pauseBtn:hover {
			background-image: url('../assets/mediaplayer/buttonPauseHover.png');
		}
		#stopBtn {
			left: 387px;
		}
		.stopBtn {
			background-image: url('../assets/mediaplayer/buttonStop.png');
		}
		.stopBtn:hover {
			background-image: url('../assets/mediaplayer/buttonStopHover.png');
		}

		#labels {
			top: 35px;
			left: 37px;
			position: absolute;
		}
		#player LABEL {
			color: #336666;
		}
		#song {
		}

		.tbl {
			font-family: verdana,arial,sans-serif;
			font-size:11px;
			color:#333333;
			border-width: 1px;
			border-color: #666666;
			border-collapse: collapse;
		}

		.tbl th {
			border-width: 1px;
			padding: 8px;
			border-style: solid;
			border-color: #666666;
			background-color: #dedede;
		}
		.tbl td {
			border-width: 1px;
			padding: 8px;
			border-style: solid;
			border-color: #666666;			
		}
		
		#artist {
			top: 52px;
			left: 37px;
		}

		#track {
			width: 262px;
			height: 5px;
			top: 78px;
			left: 40px;
			background-image: url("../assets/mediaplayer/scubberBar.png");
		}

		#thumb {
			position:relative;
			cursor: pointer;
			background-image: url("../assets/mediaplayer/scrubberPlayhead.png");
			width: 16px;
			height: 16px;
			top: -5px;
		}
		.disabled {
			opacity: 0.5;
		}

		#bar {
		  width: 40%;
		  height: 5px;		  
		  border: 1px solid black;
		  position: relative;
		}
		 
		#slider {
		  width: 0%;
		  height: 100%;
		  background-color: green;
		  position: absolute;
		}

