li {
	display: inline;
	list-style: none;
}
ul{
	-webkit-padding-start: 10px;
}

#wrapper{
	text-align: center;
}
		#blocker {
			background-color: #f00;
			opacity: 0;
			width: 451px;
			height: 101px;
			cursor: pointer;
		}
		#player DIV {
			position: absolute;
		}
		.button {
			width: 32px;
			height: 32px;
			top: 31px;
		}
		#labels {
			top: 35px;
			left: 37px;
			position: absolute;
		}
		#player LABEL {
			color: #336666;
		}
		#song {
		}

		.tbl {
			font-family: verdana,arial,sans-serif;
			font-size:11px;
			color:#333333;
			border-width: 1px;
			border-color: #666666;
			border-collapse: collapse;
		}

		.tbl th {
			border-width: 1px;
			padding: 8px;
			border-style: solid;
			border-color: #666666;
			background-color: #dedede;
		}
		.tbl td {
			border-width: 1px;
			padding: 8px;
			border-style: solid;
			border-color: #666666;			
		}
		
		#artist {
			top: 52px;
			left: 37px;
		}

		#track {
			width: 262px;
			height: 5px;
			top: 78px;
			left: 40px;
			background-image: url("../assets/mediaplayer/scubberBar.png");
		}

		#thumb {
			position:relative;
			cursor: pointer;
			background-image: url("../assets/mediaplayer/scrubberPlayhead.png");
			width: 16px;
			height: 16px;
			top: -5px;
		}
		.disabled {
			opacity: 0.5;
		}

		#bar {
		  width: 40%;
		  height: 5px;		  
		  border: 1px solid black;
		  position: relative;
		  display: inline-block;
		}
		 
		#slider {
		  width: 0%;
		  height: 100%;
		  background-color: green;
		  position: absolute;
		}

		ul#parent-list li {
			float: left;
			clear: both;
			width: 100%;
			padding: 5px;
		}

		.table-content{
			display: inline-block;
		}

		.table-content li{
			float: left;
		}

		button {
		   -webkit-border-radius: 20px;
		   -moz-border-radius: 20px;
		   border-radius: 20px;
		   color: white;
			background: green;
			border-color: green;
		}

		.navBar{
			background: gainsboro;
		}
		.navBar>button{
			margin-left: 10px;
		
		}


/*TOGGLE*/ 	
		.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #2FCCFF; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 20px;
    position: absolute; top: 0; bottom: 0; right: 56px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

		

