<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".ogg" mimeType="audio/mpeg" />
            <mimeMap fileExtension=".json" mimeType="text/plain" />
            <mimeMap fileExtension=".woff" mimeType="text/plain" />            
        </staticContent>
    </system.webServer>
</configuration>
