@media only screen
and (max-device-width: 400px) {
    body {
        font-size: 22px;
    }

    /* * * * * * */
    .wrapper {
        height: 25em;
        width: 15em;
    }

    #wrapper-top {
        height: 17em;
        padding: 0;
    }

    /* * * * * * */
    #toggle {
        height: 2em;
        font-size: 2em;
    }

    /* * * * * * */
    #panel-filters {
        display: none;
    }

    .panel-visible {
        display: inherit;
    }

    .panel-hidden {
        -webkit-transform: translate(-15em, 0);
    }

    /* * * * * * */
    #content {
        display: none;
    }

    #content.full-size {
        display: block;
        width: 100%;
        height: 100%;
    }

    #playing-tab {
        display: none;
    }

    #playing-smart {
        width: 100%;
        height: 100%;
    }

    /* * * * * * */
    #btnToggleFilters {
        display: none;
    }

    #btnTogglePlaying {
        display: inline-block;
    }

    /* * * * * * */
    #controls-player {
        height: 2em;
        font-size: 2em;
    }

    #controls-player * {
        display: inline-block;
        margin: 0.35em 0.05em;
    }

    /* * * * * * */
    #panel-filters {
        display: none;
    }

    #controls-player label {
        display: none;
    }

    #bar {
        display: none;
    }

    #btnMute {
        display: none;
    }
}