*{
    margin: 0px;
    padding: 0px;
}

body{
    background: #FFF;
    width: 90%;
    height: 600px;
}

.box{
    border: 2px solid;
    border-color: #334455;
}

.toolBar{
    width: 100%;
    height: 10%;
    position: relative;
}

.toolBar .numberOfEvents{
    float: right;
}

.buttonOfEvents{
    float: right;
}

.Traks{
    position: relative;
    width: 100%;
    height: 70%;
}

.sortMusicByType{
    width: 20%;
    height: 100%;
    position: absolute;
}

.sortMusicByType spam{
    display: block;
    width: auto;
    height: 10%;
    padding-top: 10%;
    padding-left: 10%;

}

.listOfThemes{
    width: 80%;
    height: 100%;
    float: right;
    left: 5px;
    position: absolute;
    position: relative;
    display: inline-table;
}

.tableOfTraks{
    width: 100%;
    height: 100%;
}

.track{ width: 45%; } artist{ width: 15%; }  time{ width: 15%; } album{ width: 25%; }

#listOfMusic tr{
    background: #DDD;
}

#listOfMusic tr:hover{
    background: #A72;
}

.songSelected{
    background: blue !important;
}

.buttonsPlayers{
    
    width: 100%;
    height: 20%;
}

.buttons{
    position: absolute;
    float:left;
}

.listOptions{
    display: inline-block;
    float:right;
}

.shadowbox{
    display: none;
}

#track {
    width: 262px;
    height: 5px;
    top: 78px;
    left: 40px;
    background-image: url("img/scubberBar.png");
}
    
#player DIV {
    position: absolute;
}

#thumb {
    cursor: pointer;
    background-image: url("img/scrubberPlayhead.png");
    width: 16px;
    height: 16px;
    top: -5px;
}

.select{
    width: 300px;
}