.hidden {
    display: none;    
}

#eventsButton{
    display: block;
}

html, body{
    min-width: 260px;
    width: 100%;
    min-height:100%;
    height:100%;
}

.reproductor{
    display: block; 
    width: 100%;
    height: 100%;    
}

.mainContent ,
.control,
.nowplay{
    text-align: center;
    border: 1px solid #79bbff;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;    
    border-radius: 0px;   
}

.toggle-button-list{
    background-image: url('../../icon/list.svg');
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;    
    display: inline-block;
    cursor: pointer;
}

.toggle-button-list:hover{

}

.display-content{
	display: none;
	width:  200px;
}

/* tables */

.mainContent table { border-collapse: collapse; text-align: left; width: 100%; } 
.mainContent td, .mainContent table th { padding: 2px 5px; }
.mainContent th {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
	background-color:#79bbff;
    color:#FFFFFF; 
    font-size: 13px; 
    font-weight: bold; 
    border-left: 1px solid #0070A8; 
} 
.mainContent th:first-child { border: none; }
.mainContent td { cursor: pointer ; color: #00496B; border-left: 1px solid #0070A8;font-size: 12px;font-weight: normal; }
.mainContent .sel td { cursor: default ;  background: #E1EEF4; color: #00496B; }
.mainContent td:first-child { border-left: none; }
.mainContent tr:last-child td { border-bottom: none; }


 
