/* mobile style */
.reproductor{
}

.nav-bar{
    height: 32px;
}

.logo,
.nav-bar #eventsButton,
.mainContent .filter,
.mainContent #content{
    display: none;
}


.mainContent {
    height: calc(100 - 32px);
}

.favorites {
    height: 100%;
}
