/* mobile style */

.logo,
.slideMenu,
.mainContent,
#lateralPannelButton,
.mobileHidden{
    display: none;
}

#toggleButton{
    display: block;
}


.reproductor{
    width: 100%;
    height: 100%;
}

.control > div{    
    width: 280px;
    margin: auto auto;
}

.control > div div{    
    display: inline;
}

.control span{
    vertical-align:middle;
}

.control .display{
    display: none;
}

.nav-bar{
    top: 0px;
    width: 100%;
    height: 20px;
}

.control{        
    height: 60px;
}

.mainContent,
.nowplay {    
    height: calc(100% - 80px);
    text-align: center;
}


