/* tablet style */


#lateralPannelButton{
    display: block;
}

#toggleButton,
.nav-bar #eventsButton{
    display: none;
}

.control{        
    height: 100px;
    height: 100px;
    width: calc(100% - 202px);
    position: absolute;
    bottom: 0px;
    margin-left: 200px;             
}

.mainContent{
    display: inline-block;    
    width: calc(100% - 102px);    
    height: calc(100% - 124px);
}

.nowplay {
    height: 100px;
    width: 100px;
    position: absolute;
    bottom: 0px;
    margin-left: 100px;    
}

.slideMenu > ul{
    padding-left: 0px;
    padding-top: 6px;
}


.slideMenu{    
    float: left;
    width: 100px;
    height: calc(100% - 20px);
    display: block;            
}

.slideMenu,
.control,
.mainContent,
.nowplay{
    transition: width 2s, margin-left 2s;
}


.tablet-slideMenuCollapse .slideMenu{
    margin-left: -100px;
    transition:margin-left 2s;
}

.tablet-slideMenuCollapse .nowplay{
    margin-left: 0px;
    transition:margin-left 2s;
}

.tablet-slideMenuCollapse .mainContent{
    width: calc(100% - 2px);
}

.tablet-slideMenuCollapse .control{
    margin-left: 100px;
    width: calc(100% - 102px);
    transition:margin-left 2s, width 2s;
}

.control > div{
    width: 100%;
}

.control .display{
	display: inline-block;
    width: 100%;
}

.display-content{
	display: inline-block;
	min-width: 98px;
    width: calc(100% - 181px);
    margin-top: 43px;
}


.control #progressBar{
    display: inline-block;
    width: 100%;
}

.control #progressBar .time{
    width: 50px;
}

.control #progressBar > div > *{
    display: inline-block;
}

.control #progressBar > div > div{
    width: calc(100% - 120px );
}

#progressBar .bar {
    width: 100%;
    display: block;
    height: 14px;
    border: solid 1px #79bbff;
    border-radius: 10px;
    margin-right: 10px;
    background-color: #ffffff;
}

#progressBar .buttonProgress{
    display: block;
}



