/* web style */

.nav-bar{
    height: 100px;
}

#lateralPannelButton{
    display: none;
}

.logo{
    display: inline-block;
}


.nav-bar #eventsButton{
    text-align: right;
}

.mainContent{
    height: calc(100% - 204px);
}

.slideMenu{
    height: calc(100% - 202px);
}

.nowplay{
    bottom: 100px;
    margin-left: 0px;
}

.control{
    width: calc(100% - 2px);
    margin-left: 0px; 
}
